/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: #185c4317;
    display: ;
    height: auto;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
}

/* hero */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
      url(./homeHero.jpg) center/cover no-repeat;
}

.banner {
    min-height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;
}

.banner .container {
    display: block;
    color: white;
    text-align: center;
}

.banner .container h1 {
    text-transform: capitalize;
    margin: 10px 0;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.banner .container p {
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn-orange {
    margin-top: 40px;
    color: white;
    padding: 10px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    transition: all 0.4s linear;
    border-radius: 4px;
    background-color: #D16002;
    text-transform: capitalize;
}

.btn-orange:hover {
    cursor: pointer;
    background-color: white;
    color: #D16002;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Back to top button */
.top-link {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: #34443C;
    background-color: #a0d2eb;
    font-size: 1.5rem;
    padding: 8px 10px;
    border-radius: 10px;
    display: grid;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1.2);
    }
  }

/* footer */
footer {
    background-color: #34443C;
    height: 40vh;
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
}

footer p {
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 1.08rem;
    text-transform: capitalize;
}

/* Nav Styling Beginning */
@media screen and (min-width: 800px) {
    .links-container {
        height: auto !important;
    }
}

.nav-center {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #D16002;
    text-transform: capitalize;
    margin: 0;
    /* max-height: 40px; */
    font-family: "Great Vibes", cursive;
    font-size: 45px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #d9edf7;
}

.links {
    display: flex;
    margin: 0 0.5rem;
}

.links a {
    margin: 0 1em;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links .btn-orange {
    font-size: 15px;
    margin-top: 15px;
}

.nav-toggle {
    display: none;
}

.nav-header {
    padding: 15px 30px;
}

.show-links {
    height: auto;
}


@media screen and (max-width: 800px) {
    .nav-center {
        display: block;
        background-color: #ffff;
    }

    .nav-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .links {
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;
        transition: all 0.3s linear;
        background-color: white;
    }

    .links-container {
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
        box-shadow: 0px 3px 3px 0 #34443C;
    }

    .nav-toggle {
        transition: all 0.3s linear;
        display: flex;
        background-color: transparent;
        border-color: transparent;
        color: #D16002;
        height: auto !important;
    }

    .fas {
        font-size: 30px;
        height: auto !important;
    }

    .nav-toggle:hover {
        transform: rotate(90deg);
        color: #e5eaf5;
        cursor: pointer;
    }

    .show-links{
        height: 17rem;
        transition: all 0.3s linear;
    }

    .links a {
        display: block;
        transition: all 0.3s linear;
        padding: 1rem 0;
        color: #34443C;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 23px;
    }

    .links li:hover {
        cursor: pointer;
        background-color: #a5a4a4;
        color: white;
        letter-spacing: 4px;
    }

    .links a:hover {
        width: 100%;
        color: white;
    }

    .links .btn-or {
        text-align: center;
        margin-top: 50px;
    }

    .links .btn-or a {
        margin: 0 25%;
        background-color: #4BD1A0;
    }

    .links .btn-or:hover {
        background-color: white;
    }

    .links .btn-or a:hover {
        width: auto;
        transition: all 0.6s linear;
        border: 2px solid #4BD1A0;
        background-color: #4bd1a025;
        color: #D16002;
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e5eaf5;
    box-shadow: 0px 3px 3px 0 #34443C;
}

.fixed-nav a {
    color: #34443C;
}
/* End of Nav Styling 13-141 */


:root {
    /* color-scheme */
    --orange: #D16002;
    --army-green: #34443C;
    --light-green: #4BD1A0;
    --gray: #605E5E;
    --black: #000;
    --white: #fff;
    /* Font */
    --Family: 'Inter', sans-serif;
}


/* Quote section */
.quote-container {
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15%;
    font-family: 'IM FELL French Canon', serif;
    color: black;
}

.quote-container .quote {
    font-weight: 500;
    margin-bottom: 15px;
}

.quote-container .quote-subtext {
    font-size: 12px;
}

/* What We Do Section */
#whatWeDo {
    margin-bottom: 40px;
}
.section {
    margin: 0 5%;
}

.what-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif;
    color: #34443C;
}

.what-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

.what-container img {
    object-fit: cover;
    width: 48%;
    border-radius: 5px;
    margin-right: 20px;
}

.row-reverse img {
    margin-left: 20px;
    margin-right: 0;
}

.what-text {
    padding-top: 15px;
}

.what-text h1 {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #34443C;
    text-align: center;
}

.what-text p {
    font-size: 0.85rem;
    margin: 10px 0;
}

@media screen and (max-width: 835px) {
    .what-header {
        font-size: 1.65rem;
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .what-container {
        margin: 20px 0;
    }

    .what-container img {
        height: 220px;
    }

    .what-text h1 {
        font-size: 1rem;
    }

    .what-text {
        padding: 0;
    }

    .what-text p {
        font-size: 0.6rem;
        margin: 5px 0;
    }
}

@media screen and (max-width: 600px) {
    .what-header {
        font-size: 1.4rem;
    }

    .what-container {
        flex-direction: column;
    }

    .what-container img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .what-container h1 {
        margin-top: 20px;
    }

    .what-container p {
        margin-bottom: 10px;
    }
}

/* Our Services Section */
#services {
    height: 90vh;
    margin: 140px 5%;
}

.service-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 45px;
    font-family: "Roboto", sans-serif;
    color: #34443C;
}

.services-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service {
    width: 30%;
}

.service img {
    width: 100%;
    border-radius: 5px;
    height: 180px;
    object-fit: cover;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64%;
}

.service h1 {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #34443C;
    text-align: center;

}

.service p {
    text-align: center;
    font-size: 0.8rem;
    /* height: 40%; */
}

.service .btn-orange {
    text-align: center;
    margin: 0 20%;
}

.service .btn-orange:hover {
    border: 2px solid #4BD1A0;
    color: #D16002;
    background-color: #4bd1a025;
}

@media screen and (max-width: 835px) {
    #services {
        height: auto;
    }
    .services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .service {
        width: 100%;
        margin: 40px 0;
    }

    .service img {
        height: 250px;
    }

    .service-text {
        height: auto;
    }

    .service-text h1 {
        margin: 15px 0;
    }

    .service .btn-orange {
        margin-top: 35px;
    }
}

@media screen and (max-width: 600px) {
    .service img {
        height: 200px;
    }

    .service-text h1 {
        font-size: 1.1rem;
    }

    .service-text p {
        font-size: 0.75rem;
    }

    .service .btn-orange {
        margin: 35px 30%;
        font-size: 1rem;
    }
}

/* About Us Section */
#about-us {
    margin-bottom: 140px;
    text-align: center;
}

.about-header {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 45px;
    font-family: "Roboto", sans-serif;
    color: #34443C;
}

.about-text {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.about-btn {
    margin-top: 70px;
}

.about-btn .btn-orange {
    padding: 10px 20%;
    border-radius: 30px;
}

.about-container .btn-orange:hover {
    border: 2px solid #D16002;
    color: #D16002;
    background-color: #4bd1a025;
}

