:root {
    /* color-scheme */
    --orange: #D16002;
    --army-green: #34443C;
    --light-green: #4BD1A0;
    --gray: #605E5E;
    --black: #000;
    --white: #f5f5f5;
    /* Font */
    --Family: 'Inter', sans-serif;
}

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Family)
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contain {
    transform: translate(0, -7%);
    z-index: 1;
}

/* Hero section styling */
.hero {
    position: relative;
    height: 70vh;
    background-image: url('../images/success.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.contain h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

/* End of hero section styling */
@media (max-width: 768px) {}


/* Navbar styling */
@media screen and (min-width: 800px) {
    .links-container {
        height: auto !important;
    }
}

.nav-center {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--orange);
    text-transform: capitalize;
    margin: 0;
    /* max-height: 40px; */
    font-family: "Great Vibes", cursive;
    font-size: 45px;
}

ul {
    list-style-type: none;
}

.links-container a {
    text-decoration: none;
    color: #000;
    font-family: var(--Family);
}

.links {
    display: flex;
    margin: 0 0.5rem;
}

.links a {
    margin: 0 1em;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--Family);
}

.links .btn-orange {
    font-size: 15px;
    margin-top: 15px;
}

.nav-toggle {
    display: none;
}

.nav-header {
    padding: 15px 30px;
}

.show-links {
    height: auto;
}


@media screen and (max-width: 800px) {
    .nav-center {
        display: block;
        background-color: #ffff;
    }

    .nav-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .links {
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;
        transition: all 0.3s linear;
        background-color: white;
    }

    .links-container {
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
        box-shadow: 0px 3px 3px 0 #34443C;
    }

    .nav-toggle {
        transition: all 0.3s linear;
        display: flex;
        background-color: transparent;
        border-color: transparent;
        color: var(--orange);
        height: auto !important;
    }

    .fas {
        font-size: 30px;
        height: auto !important;
    }

    .nav-toggle:hover {
        transform: rotate(90deg);
        color: #e5eaf5;
        cursor: pointer;
    }

    .show-links {
        height: 17rem;
        transition: all 0.3s linear;
    }

    .links a {
        display: block;
        transition: all 0.3s linear;
        padding: 1rem 0;
        color: #34443C;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 23px;
    }

    .links li:hover {
        cursor: pointer;
        background-color: #a5a4a4;
        color: white;
        letter-spacing: 4px;
    }

    .links a:hover {
        width: 100%;
        color: white;
    }

    .links .btn-or {
        text-align: center;
        margin-top: 50px;
    }

    .links .btn-or a {
        margin: 0 25%;
        background-color: #4BD1A0;
    }

    .links .btn-or:hover {
        background-color: white;
    }

    .links .btn-or a:hover {
        width: auto;
        transition: all 0.6s linear;
        border: 2px solid #4BD1A0;
        background-color: #4bd1a025;
        color: #D16002;
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e5eaf5;
    box-shadow: 0px 3px 3px 0 #34443C;
}

.fixed-nav a {
    color: #34443C;
}

/* Donate form */
.donate-form {
    margin-left: 28%;
    margin-top: 7%;
}

.donate-form div {
    position: relative;
    padding: 56.25% 0 25% 0;
    height: 0;
}

.donate-form iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: -10;
}

@media (max-width: 768px) {
    .donate-form {
        display: block;
        margin: 0 auto;
        margin-top: 5%;
    }

    .donate-form div {
        padding-bottom: 70%;
    }
}

@media (max-width: 420px) {
    .donate-form div {
        padding-bottom: 100%;
    }
}

/* End of donate form */

/* End of Nav Styling 13-141 */

/* Footer */
.mail {
    background-color: #C8E5DE;
    height: 15vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.mail-container {
    margin: auto 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mail-container h2 {
    text-transform: uppercase;
    color: #34443C;
    font-family: "Roboto", sans-serif;
}

.mail form {
    display: flex;
    flex-direction: row;
    width: 60%;
}

#message-input {
    height: 35px;
    width: 100%;
    border: transparent;
    background-color: #eaf0ee;
    padding: 3% 10px;
}

.send-message {
    border: transparent;
    background-color: #34443C;
    padding: 10px;
    color: white;
}

/* Real Footer */
.footer-container {
    background-color: #34443C;
}

.key-title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    padding-top: 25px;
}

.footer-box {
    background-color: #4BD1A0;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    color: white;
}

.boxes-row1 {
    display: flex;
    flex-direction: row;
    place-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 10px;
}

.boxes-row1 .footer-box:nth-child(1) {
    background-color: black;
}

.footer-box .fa-user-circle {
    color: #4BD1A0;
}

.footer-box .fa-dollar-sign,
.box-row2 .fa-volume-up {
    color: black;
}

.boxes-row1 .footer-box:nth-child(2) {
    background-color: #605E5E;
}

.box-row2 {
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    place-items: center;
}

.box-row2 .footer-box {
    background-color: #4BD1A0;
}

.footer-box .number {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
}

.footer-box .figure-text {
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (min-width: 850px) {
    .footer-box .number {
        font-size: 1.8rem;
    }

    .footer-box .fa-dollar-sign,
    .box-row2 .fa-volume-up,
    .footer-box .fa-user-circle {
        font-size: 2.5rem;
    }

    .footer-box .figure-text {
        font-size: 0.8rem;
    }

    .footer-box {
        width: 20%;
    }
}

/* Footer Test and Links */
.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 8px;
}

.footer-text h1 {
    color: #4BD1A0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.footer-text ul {
    line-height: 1.8rem;
}

.footer-text .quick-links ul,
.footer-text .discover ul {
    line-height: 2rem;
}

.footer-text li,
.footer-text a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

.copyright {
    background-color: #4BD1A0;
    text-align: center;
    color: white;
    padding: 5px;
}

@media screen and (min-width: 850px) {
    .footer-text {
        justify-content: space-around;
    }
}

@media screen and (max-width: 550px) {

    .footer-text li,
    .footer-text a {
        font-size: 0.58rem;
    }
}

/* Back to top link */

.top-link {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: #D16002;
    background-color: #4BD1A0;
    font-size: 1.5rem;
    padding: 8px 10px;
    border-radius: 10px;
    display: grid;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}