:root {
    /* color-scheme */
    --orange: #D16002;
    --army-green: #34443C;
    --light-green: #4BD1A0;
    --gray: #605E5E;
    --black: #000;
    --white: #f5f5f5;
    /* Font */
    --Family: 'Inter', sans-serif;
}

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: var(--Family) */
}
@media screen and (min-width: 850px) {
    #nav a {
        color: #4BD1A0;
    }
}

body {
    overflow-x: hidden;
    background-color: var(--white);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contain {
    transform: translate(0, -7%);
    z-index: 1;
}

.hero {
    position: relative;
    height: 60vh;
    background-image: url('../images/success.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.contain h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

@keyframes typing {
    0% {
        width: 0;
      }
    100% {
        width: 100%;
    }
  }

.text {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    /* animation: typing 3s steps(113),
        blink step-end 0.5s infinite alternate */
    animation: typing 5s steps(40) infinite, pause 5s 1;
}

.text p {
    display: inline-block;
    white-space: pre;
    text-overflow: wrap;
}



.subtext-sect {
    margin: 7%;
}

.sub-text {
    /* max-width: 700px; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;

}

.sub-text p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
}

.stories {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-right: 7%;
    margin-left: 7%;
    font-family: 'Nunito', sans-serif;
}

.story {
    display: flex;
    align-items: center;
}

.story div {
    padding: 0 5%;
}

.story img {
    border: 10px double var(--gray);
    border-radius: 3px;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.story img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    filter: blur(1px) brightness(80%);

}


.story div {
    width: 100%;
}

.story h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.story p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    margin-bottom: 20px;
    max-width: 100%;
}

hr {
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
}

/* @keyframes typing {
    from {
        width: 0;
    }
} */

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* responsive styles */
@media (max-width: 768px) {
    .hero {
        height: 40vh;
    }

    .text h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .text p {
        font-size: 1.2rem;
    }

    .stories {
        grid-template-columns: 1fr;
    }

    .story img {
        width: 150px;
        height: 150px;
        margin-right: 10px;
    }

    .story h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .story p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}